In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [ ]:
df1 = pd.read_csv('FEA_Access.csv')
df1.head()

,FIPS,State,County,LACCESS_POP10,LACCESS_POP15,GROC11,GROC16,FFR11,FFR16,VEG_ACRES07,VEG_ACRES12,ORCHARD_ACRES07,ORCHARD_ACRES12,BERRY_ACRES07,BERRY_ACRES12
0,1001,AL,Autauga,18428.439690,17496.693040,5,3,34,44,948.0,1230.0,384.0,402.0,NaN,5.0
1,1003,AL,Baldwin,35210.814080,30561.264430,27,29,121,156,2280.0,1958.0,4333.0,3361.0,79.0,93.0
2,1005,AL,Barbour,5722.305602,6069.523628,6,4,19,23,32.0,41.0,1047.0,799.0,NaN,42.0
3,1007,AL,Bibb,1044.867327,969.378841,6,5,6,7,65.0,14.0,NaN,13.0,6.0,NaN
4,1009,AL,Blount,1548.175559,3724.428242,7,5,20,23,585.0,677.0,193.0,176.0,28.0,38.0

In [ ]:
df1 = df1.dropna()

In [ ]:
state_list = []

for states in df1["State"]:
  if states not in state_list:
    state_list.append(states)

In [ ]:
sum_list1= []
sum_list2= []
sum_list3= []
sum_list4= []
sum_list5= []
sum_list6= []
sum_list7= []

for i in state_list:

  access10 = df1.loc[df1["State"] == i, 'LACCESS_POP10'].sum()
  access15 = df1.loc[df1["State"] == i, 'LACCESS_POP15'].sum()
  groc11 = df1.loc[df1["State"] == i, 'GROC11'].sum()
  groc16 = df1.loc[df1["State"] == i, 'GROC16'].sum()
  ff11 = df1.loc[df1["State"] == i, 'FFR11'].sum()
  ff16 = df1.loc[df1["State"] == i, 'FFR16'].sum()
  vacres07 = df1.loc[df1["State"] == i, 'VEG_ACRES07'].sum()
  vacres12 = df1.loc[df1["State"] == i, 'VEG_ACRES12'].sum()
  oacres07 = df1.loc[df1["State"] == i, 'ORCHARD_ACRES07'].sum()
  oacres12 = df1.loc[df1["State"] == i, 'ORCHARD_ACRES12'].sum()
  bacres07 = df1.loc[df1["State"] == i, 'BERRY_ACRES07'].sum()
  bacres12 = df1.loc[df1["State"] == i, 'BERRY_ACRES12'].sum()
  tacres07 = vacres07+oacres07+bacres07
  tacres12 = vacres12+oacres12+bacres12
  
  sum_list1.append(((access15 - access10)/access10)*100)
  sum_list2.append(((groc16 - groc11)/groc11)*100)
  sum_list3.append(((ff16 - ff11)/ff11)*100)
  sum_list4.append(((vacres12 - vacres07)/vacres07)*100)
  sum_list5.append(((oacres12 - oacres07)/oacres07)*100)
  sum_list6.append(((bacres12 - bacres07)/bacres07)*100)
  sum_list7.append(((tacres12 - tacres07)/tacres07)*100)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:31: RuntimeWarning: invalid value encountered in double_scalars
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: RuntimeWarning: invalid value encountered in double_scalars
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: RuntimeWarning: invalid value encountered in double_scalars
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:32: RuntimeWarning: invalid value encountered in double_scalars
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: RuntimeWarning: divide by zero encountered in double_scalars

In [ ]:
df2 = pd.DataFrame()


df2['States'] = state_list
df2['PCH_LACCESS_POP_10_15'] = sum_list1
df2['PCH_GROC_11_16'] = sum_list2
df2['PCH_FFR_11_16'] = sum_list3
df2['PCH_VEG_ACRES_07_12'] = sum_list4
df2['PCH_ORCHARD_ACRES_07_12'] = sum_list5
df2['PCH_BERRY_ACRES_07_12'] = sum_list6
df2['PCH_TOTAL_ACRES_07_12'] = sum_list7

In [ ]:
df2 = df2.dropna()

In [ ]:
na_free = df2.dropna()
only_na = df2[~df2.index.isin(na_free.index)]
only_na

,States,PCH_LACCESS_POP_10_15,PCH_GROC_11_16,PCH_FFR_11_16,PCH_VEG_ACRES_07_12,PCH_ORCHARD_ACRES_07_12,PCH_BERRY_ACRES_07_12,PCH_TOTAL_ACRES_07_12
8,HI,6.769505,-1.337793,2.47012,29.71078,-2.239926,NaN,2.78857
25,NV,60.608046,0.000000,-25.00000,NaN,NaN,NaN,NaN
47,WY,37.860288,-11.111111,25.00000,NaN,NaN,NaN,NaN

In [ ]:
states = [ 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
           'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
           'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
           'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
           'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

len(states)

51

In [ ]:
df1.to_csv('FEA_Access_cleaned.csv')
!cp FEA_Access_cleaned.csv "drive/My Drive/"

In [ ]:
df2.to_csv('FEA_State_cleaned.csv')
!cp FEA_State_cleaned.csv "drive/My Drive/"